# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer

# Dump the last successful "known good" versions to a file so that we can pin
# those for example in production.cfg
show-picked-versions = true

# Extend a versions configuration to get the right version of Plone.
# The files can be downloaded from http://dist.plone.org/release/<version>/versions.cfg

extends =
    http://dist.plone.org/release/4.3.2/versions.cfg
    versions.cfg

find-links =
    http://dist.kreativkombinat.de/pressapp

versions = versions
unzip = true

# Create local caches so that we get completely self-contained buildouts.
# These directories must be created before the buildout is run the first time.

#eggs-directory = ${buildout:directory}/var/cache/eggs
#download-cache = ${buildout:directory}/var/cache/downloads
#extends-cache  = ${buildout:directory}/var/cache/extends

[eggs]
main =
    jobtool.jobcontent
    jobtool.sitetheme
    pressapp.policy

addon =
    five.pt
    plone.api
    plone.app.caching
    plone.formwidget.datetime
    collective.emaillogin4
    collective.js.datatables
    collective.quickupload
    zopyx.smartprintng.plone
    Products.PloneHotfix20131210

test =
    example.sitetheme [test]
devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
jobtool.jobcontent          = fs jobtool.jobcontent
jobtool.sitetheme           = fs jobtool.sitetheme

pressapp.channelmanagement  = fs pressapp.channelmanagement
pressapp.dispatcher         = fs pressapp.dispatcher
pressapp.memberprofiles     = fs pressapp.memberprofiles
pressapp.overlays           = fs pressapp.overlays
pressapp.presscontent       = fs pressapp.presscontent
pressapp.policy             = fs pressapp.policy
pressapp.search             = fs pressapp.search
pressapp.sitetheme          = fs pressapp.sitetheme
pressapp.statusbar          = fs pressapp.statusbar

# Smartprintng checkout 4.3 combat
zopyx.smartprintng.plone    = git git://github.com/zopyx/zopyx.smartprintng.plone.git

# Development Tools checkouts
sauna.reload                = git https://github.com/epeli/sauna.reload.git
watchdog                    = git https://github.com/gorakhargosh/watchdog.git
ade25.fabfiles                  = git git@github.com:ade25/ade25.fabfiles.git

