<section class="actionbar" id="actionbar">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-2">
      <h4 class="brandname">
        <a href="/" id="brandname">
          Arbeitsplatz</a>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" id="subnavbar">
      <div class="text-right">
          <ul class="nav nav-pills" id="section-nav">
            <li><a href="#contact">
              <span class="badge">212</span>
              Pressemitteilungen</a></li>
            <li><a href="#">
              <span class="badge">143</span>
              Presseeinladungen</a></li>
            <li><a href="#">
              <span class="badge">74</span>
              Verteiler</a></li>
          </ul>
          </div>
    </div>
  </div>
</section>