<header class="ph-header" id="header">
    <div class="toolbar navbar navbar-inverse" id="toolbar">
    <div class="xcontainer">
       <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
      <a class="navbar-brand" href="#" id="main-logo">
        PressHub
      </a>
        <!--<form class="navbar-form pull-left">
        <input type="text" class="span8">
        <button type="submit" class="btn">Suche</button>
        </form>-->
      <div class="nav-collapse collapse">
        <!--<ul class="nav">
          <li><a href="#">Arbeitsplatz</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Adressen</a></li>
        </ul>-->
      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Archiv</a></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#contact" class="dropdown-toggle">
          <i class="icon-cog"></i>
          Administration <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Einstellungen Verstand</a></li>
              <li><a href="#">Benutzerverwaltung</a></li>
            </ul>
        </li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">
            <i class="icon-user"></i>
            Jacob van Hesselberger IV <b class="caret"></b></a>
        </li>
        </ul>
      </div>
    </div>
</div>    <section class="ph-actionbar" id="actionbar">
  <div class="row">
    <div class="col col-lg-2">
      <h4 class="brandname">
        <a href="/" id="brandname">
          Arbeitsplatz</a>
      </h4>
    </div>
    <div class="col col-lg-10" id="subnavbar">
      <div class="xxnavbar">
          <ul class="nav xnav-pills pull-right" id="section-nav">
            <li><a href="#contact">
              <span class="badge">212</span>
              Pressemitteilungen</a></li>
            <li><a href="#">
              <span class="badge">143</span>
              Presseeinladungen</a></li>
            <li><a href="#">
              <span class="badge">74</span>
              Verteiler</a></li>
          </ul>
          </div>
    </div>
  </div>
</section></header>
