<nav class="toolbar navbar navbar-inverse" id="toolbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand toolbar-brand" id="main-logo" href="#">PressHub</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
          <li id="plone-personal-actions" class="dropdown dropdown-userinfo">
            <a data-toggle="dropdown" class="dropdown-toggle" href="/author/123456789">
              <span>John Doe</span>
              <b class="caret">
            </b></a>
            <ul class="dropdown-menu"><li id="plone-personal-actions-dashboard">
                <a href="/dashboard">Persönliche Seite</a>
              </li>
              <li id="plone-personal-actions-preferences">
                <a href="/preferences">Meine Einstellungen</a>
              </li>
              <li id="plone-personal-actions-plone_setup">
                <a href="/controlpanel">Konfiguration</a>
              </li>
              <li id="plone-personal-actions-logout">
                <a href="/logout">Abmelden</a>
              </li>
            </ul></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#">Archiv</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Übersicht</a></li>
                <li><a href="#">Einstellungen</a></li>
                <li class="divider"></li>
                <li><a href="#">Redakteure</a></li>
              </ul>
          </li>
        </ul>
    </div>
</nav>