// Application styles
// -----------------------

@app-color:              #50a0b0;
@app-brown:              #b8aa88;
@app-dark:               #607080;
@app-darker:             #2A323F;

@brand-primary:         @app-dark;

@link-color:            darken(@app-color, 10%);

@font-family-sans-serif:  'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family:    'Oswald';

body {
  background: lighten(#50a0b0, 20%);
  #content-wrapper {
    margin-top: @line-height-computed * 2;
  }
}

body.template-login_form {
  #content-wrapper {
    margin-top: @navbar-height;
  }
}

.btn {
  border-radius: 0px;
  text-shadow: none;
}

input.context,
input.destructive {
  margin-right: 10px;
  .btn();
  .btn-default();
  text-shadow: none;
}
input.destructive {
  .btn-danger();
}

#main-logo {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  //text-transform: uppercase;
  color: @gray-lighter;
}

.splashbar {
  padding: @navbar-height;
  text-align: center;
  #gradient > .vertical(@app-dark, @app-darker);
  border-bottom: 1px solid #000;
  h1 {
    font-size: @navbar-height;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

.subheader {
  background: @app-brown;
  padding: @line-height-computed;
  text-align: center;
  border-bottom: 1px solid @app-dark;
  h2 {
    color: #fff;
  }
}

#nav-bar {
  .box-shadow(0 2px 10px rgba(0, 0, 0, 0.4));
  border-radius: 0;
  .navbar-inner {
    border-radius: 0;
  }
  .nav-user p {
    padding: @line-height-computed / 2;
  }
}

#actionbar {
  margin: @line-height-computed @line-height-computed 0 @line-height-computed * 2;
  .brandname {
    color: #fff;
    margin: @font-size-base 0 0;
    line-height: 100%;
    a {
      color: white;
    }
  }
  .navbar {
    background:transparent;
  }
  #section-nav,
  #subnavbar {
      li {
        margin-left: @line-height-computed / 2;
      }
        li > a {
        color: @table-bg-hover;
        font-weight: bold;
        text-shadow: none;
        //border: 1px solid @app-color;
        // background: lighten(@app-color, 10%);
        .badge {
          background: #fff;
          color: @app-color;
          }
        }
        li > a:hover {
            background: @app-color;
            //border-color: @app-color;
        }
    }
  #customer-logo {
    display: block;
    border: 1px solid white;
    border-radius: 4px;
    text-indent: -9999px;
    width: 180px;
    height: 31px;
    background:url(../images/logo-small.png) no-repeat 32px 0px white;
    margin: @font-size-base / 2 @line-height-computed 0px @line-height-computed / 2;
  }
}

#actionbar + #content-wrapper {
  margin-top: 0px;
}

#main-wrapper {
  padding: @line-height-computed 0;
}

#navbar + #main-wrapper {
    padding-top: @navbar-height;
}

.box {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 4px;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  //background:url(../images/bg-grain-dark.png) 0 0 transparent;
  //color: #fff;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.tile {
  min-height: @line-height-computed;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  border-radius:4px;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  &.stats {
      strong {
          .pull-left();
          .size(20px, 50px);
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      }
      p {
          margin-top: 0.5em;
      }
      form {
          margin-bottom:0px;
      }
  }
  h5 > a {
    color:@gray;
  }
}


// Customizations + overrides
// -----------------------------

.mceIframeContainer {
  padding: @padding-large !important;
}

input.dial {
  box-shadow: none;
  display: inline-block;
  //position:relative;
}

a.caltrigger {
  padding: 0px;
}

#caltitle select {
  width: 165px;
}

form.overlayForm {
    padding: @line-height-computed;
}


// Form styles
// ------------------------

#login_form,
#mail_password {
  width: 300px;
  label {
    font-weight: bold;
    font-size: @font-size-base + 2;
  }
  input[type="text"],
  input[type="password"] {
    width: 245px;
    height: @line-height-computed + 4;
    border-color: @gray-dark;
    font-size: @font-size-base + 2;
    line-height: @line-height-computed + 2;
    //width: 95%;
    //.box-shadow(inset -1px 0px 10px rgba(0,0,0, .5));
  }
  #login-action {
    padding-top: @line-height-computed;
    background: transparent;
    text-align:right;
    input.context {
      .btn-large();
      .btn-primary();
      border-radius:0px;
    }
  }
  .center-block();
}

#login-forgotten-password {
  width: 260px;
  a {
    color: #fff;
  }
  .center-block();
}

// Data Tables
// -----------------------------

div.dataTables_length label {
    float: left;
    text-align: left;
    //margin-top: 15px;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

table.dataTable {
  tr.row_selected td {
    border: 1px solid @state-danger-text;
    border-width: 1px 0px;
    background-color: @state-danger-bg;
  }
}

#table-contacts {
  margin-top: @line-height-computed;
  h6 {
    margin-top: 0px;
  }
}



// Footer styles
// -----------------------------

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: @zindex-navbar-fixed;
    margin-bottom: 0; // remove 18px margin for static navbar
    #footer-content {
      padding: @line-height-computed;
      color: @gray-lighter;
    }
}

// Keyframe animations

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes dimIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes dimIn { from { opacity:0; } to { opacity:1; } }
@keyframes dimIn { from { opacity:0; } to { opacity:1; } }
 
.dim-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:dimIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:dimIn ease-in 1;
  animation:dimIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
 
.dim-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
 
.dim-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}
 
.dim-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}


