
@font-face {
  font-family: "ArialUnicode";
  font-weight: normal;
  font-style: normal;
  src: url(ArialUnicode.ttf) format("truetype");
}

* {
    font-family: ArialUnicode;
}

h1 .title .bookmark-title { 
    color: #cccccc !important;
    border: 1px solid #cccccc !important;
    font-size: 200px !important;
}
